# build artifacts
build*/
Build*/
Builds*/
lib*/
bin/
*_Packaged
*.exe
*.dmg
vstsdk2.4/
src/JuceLibraryCode/JuceHeader.h
src/JuceLibraryCode/ReadMe.txt

# ide settings
.vscode/
.idea/

# Mac extras
.DS_Store

# tex artifacts
*.log
*.aux
*.out
*.synctex*
